In [442]:
#Inport Dependencies
import pandas as pd
import os
import csv

In [443]:
#Reference CSV file
budget_csv = os.path.join('Resources', 'budget_data_1.csv')
budget_df = pd.read_csv(budget_csv)
#Reference CSV file for second data file
#budget_csv = os.path.join('Resources', 'budget_data_2.csv')

In [444]:
#Display first five rows of data
budget_df.head()

     Date  Revenue
0  12-Oct  1154293
1  12-Nov   885773
2  12-Dec  -448704
3  13-Jan   563679
4  13-Feb   555394

In [445]:
#Assign date variable as list
date = list(budget_df["Date"])
date

['12-Oct',
 '12-Nov',
 '12-Dec',
 '13-Jan',
 '13-Feb',
 '13-Mar',
 '13-Apr',
 '13-May',
 '13-Jun',
 '13-Jul',
 '13-Aug',
 '13-Sep',
 '13-Oct',
 '13-Nov',
 '13-Dec',
 '14-Jan',
 '14-Feb',
 '14-Mar',
 '14-Apr',
 '14-May',
 '14-Jun',
 '14-Jul',
 '14-Aug',
 '14-Sep',
 '14-Oct',
 '14-Nov',
 '14-Dec',
 '15-Jan',
 '15-Feb',
 '15-Mar',
 '15-Apr',
 '15-May',
 '15-Jun',
 '15-Jul',
 '15-Aug',
 '15-Sep',
 '15-Oct',
 '15-Nov',
 '15-Dec',
 '16-Jan',
 '16-Feb']

In [446]:
#Assign revenue variable as list
revenue = list(budget_df["Revenue"])
revenue

[1154293,
 885773,
 -448704,
 563679,
 555394,
 631974,
 957395,
 1104047,
 693464,
 454932,
 727272,
 125016,
 339251,
 78523,
 977084,
 1158718,
 332681,
 -341227,
 173826,
 742611,
 1189806,
 607363,
 -1172384,
 587993,
 295198,
 -300390,
 468995,
 698452,
 967828,
 -454873,
 375723,
 1140526,
 83836,
 413189,
 551363,
 1195111,
 657081,
 66659,
 803301,
 -953301,
 883934]

In [447]:
#Measure months in dataset
months = len(budget_df["Date"].unique())
months

41

In [448]:
#Calculate revenue over entire period
total_revenue = int(budget_df["Revenue"].sum())
total_revenue

18971412

In [449]:
#Determine average change in revenues
average = int(budget_df["Revenue"].mean())
average

462717

In [450]:
#Determine greatest revenue increase
maximum = budget_df["Revenue"].max()
maximum

1195111

In [451]:
#Determine greatest revenue decrease
minimum = budget_df["Revenue"].min()
minimum

-1172384

In [452]:
#Determine date of greatest revenue increase
date_max = date[revenue.index(maximum)]
date_max

'15-Sep'

In [453]:
#Determine date of greatest revenue decrease
date_min = date[revenue.index(minimum)]
date_min

'14-Aug'

In [454]:
#Print results
print("Financial Analysis")
print("-------------------------------")
print("Total Months: " + str(months))
print("Total Revenue: $" + str(total_revenue))
print("Average Revenue Change: $" + str(average))
print("Greatest Increase in Revenue: " + str(date_max) + " $" + str(maximum))
print("Greatest Decrease in Revenue: "+ str(date_min) + " $" + str(minimum))

Financial Analysis
-------------------------------
Total Months: 41
Total Revenue: $18971412
Average Revenue Change: $462717
Greatest Increase in Revenue: 15-Sep $1195111
Greatest Decrease in Revenue: 14-Aug $-1172384

In [457]:
#Set output file destination
output_df = os.path.join('Resources','Financial_Analysis_1' + '.txt')
#Set output file destination for second data set
#output_df = os.path.join('Resources','Financial_Analysis_2' + '.txt')

In [458]:
#Export txt file of results
with open(output_df, 'w') as writefile:
    writefile.writelines('Financial Analysis' + '\n')
    writefile.writelines('-------------------------------' + '\n')
    writefile.writelines('Total Months: ' + str(months) + '\n')
    writefile.writelines('Total Revenue: $' + str(total_revenue) + '\n')
    writefile.writelines('Average Revenue Change: $' + str(average) + '\n')
    writefile.writelines('Greatest Increase in Revenue: ' + str (date_max) + " $" + str(maximum) + '\n')
    writefile.writelines('Greatest Decrease in Revenue: ' + str(date_min) + " $" + str(minimum) + '\n')