In [294]:
#Import Dependencies
import pandas as pd
import os
import csv

In [295]:
#Reference CSV file
data_file = os.path.join('Resources', "election_data_1.csv")
election_df = pd.read_csv(data_file)

In [296]:
#Display first five rows of data
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [297]:
#Set up new dataframe with variables of note
votes_per = pd.DataFrame(election_df["Candidate"].value_counts())
votes_per
votes_df = votes_per.rename(columns = {"Candidate": "Total Votes"})
votes_df

          Total Votes
Khan           661583
Correy         209046
Li             146360
O'Tooley        31586

In [298]:
#Count total votes for candidate Khan
khan_votes = votes_df.loc["Khan", "Total Votes"]
khan_votes

661583

In [299]:
#Count total votes for candidate Correy
correy_votes = votes_df.loc["Correy", "Total Votes"]
correy_votes

209046

In [300]:
#Count total votes for candidate Li
li_votes = votes_df.loc["Li", "Total Votes"]
li_votes

146360

In [301]:
#Count total votes for candidate O'Tooley
otooley_votes = votes_df.loc["O'Tooley", "Total Votes"]
otooley_votes

31586

In [302]:
#Count total votes in data set
total_votes = votes_df["Total Votes"].sum()
total_votes

1048575

In [303]:
#Calculate percentage of votes per candidates
votes_percentage = (candidate_votes/total_votes)*100
votes_percentage

Khan        63.093532
Correy      19.936199
Li          13.957991
O'Tooley     3.012279
Name: Candidate, dtype: float64

In [304]:
#Add vote percentages to existing dataframe
votes_df["Percentage Votes"] = votes_percentage
votes_df

          Total Votes  Percentage Votes
Khan           661583         63.093532
Correy         209046         19.936199
Li             146360         13.957991
O'Tooley        31586          3.012279

In [305]:
#Determine percentage of votes for candidate Khan
khan_percent = votes_df.loc["Khan", "Percentage Votes"].round()
khan_percent

63.0

In [306]:
#Determine percentage of votes for candidate Correy
correy_percent = votes_df.loc["Correy", "Percentage Votes"].round()
correy_percent

20.0

In [307]:
#Determine percentage of votes for candidate Li
li_percent = votes_df.loc["Li", "Percentage Votes"].round()
li_percent

14.0

In [308]:
#Determine percentage of votes for candidate O'Tooley
otooley_percent = votes_df.loc["O'Tooley", "Percentage Votes"].round()
otooley_percent

3.0

In [309]:
#Determine winner of election by max number of votes
winner = votes_df["Total Votes"].max()
winner

661583

In [310]:
#Print results
print("Election Results")
print("--------------------")
print("Total Votes: " + str(total_votes))
print("--------------------")
print("Khan: " + str(khan_percent) + "% (" + str(khan_votes) + ")")
print("Correy: " + str(correy_percent) + "% (" + str(correy_votes) + ")")
print("Li: " + str(li_percent) + "% (" + str(li_votes) + ")")
print("O'Tooley: " + str(otooley_percent) + "% (" + str(otooley_votes) + ")")
print("--------------------")
print("Winner: Khan")
print("--------------------")

Election Results
--------------------
Total Votes: 1048575
--------------------
Khan: 63.0% (661583)
Correy: 20.0% (209046)
Li: 14.0% (146360)
O'Tooley: 3.0% (31586)
--------------------
Winner: Khan
--------------------

In [311]:
#Set output file destination
output_df = os.path.join('Resources', 'Election_Results_1' + '.txt')

In [312]:
#Export txt file of results
with open(output_df, 'w') as writefile:
    writefile.writelines("Election Results" + '\n')
    writefile.writelines("--------------------" + '\n')
    writefile.writelines("Total Votes: " + str(total_votes) + '\n')
    writefile.writelines("--------------------" + '\n')
    writefile.writelines("Khan: " + str(khan_percent) + "% (" + str(khan_votes) + ")" + '\n')
    writefile.writelines("Correy: " + str(correy_percent) + "% (" + str(correy_votes) + ")" + '\n')
    writefile.writelines("Li: " + str(li_percent) + "% (" + str(li_votes) + ")" + '\n')
    writefile.writelines("O'Tooley: " + str(otooley_percent) + "% (" + str(otooley_votes) + ")" + '\n')
    writefile.writelines("--------------------" + '\n')
    writefile.writelines("Winner: Khan" + '\n')
    writefile.writelines("--------------------" + '\n')